<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="2.1.2" targetFramework="net40" />
  <package id="ConfigR" version="0.11.0" targetFramework="net45" />
  <package id="Microsoft.Web.Xdt" version="1.0.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="6.0.6" targetFramework="net45" />
  <package id="NuGet.Core" version="2.7.2" targetFramework="net40-Client" />
  <package id="NUnit" version="2.6.2" />
  <package id="Octopus.Client" version="2.5.11.614" targetFramework="net40" />
  <package id="Roslyn.Compilers.Common" version="1.2.20906.2" targetFramework="net45" />
  <package id="Roslyn.Compilers.CSharp" version="1.2.20906.2" targetFramework="net45" />
  <package id="ScriptCs.BDDfy" version="1.0.1" />
  <package id="ScriptCs.Contracts" version="0.9.0" targetFramework="net45" />
  <package id="ScriptCs.Engine.Roslyn" version="0.9.0" targetFramework="net45" />
  <package id="ScriptCs.NUnit" version="0.5.2" targetFramework="net40" />
  <package id="ScriptCs.Shovel" version="0.1.0" targetFramework="net45" />
  <package id="Sprache" version="2.0.0.44" />
  <package id="TestStack.BDDfy" version="3.19.1" targetFramework="net40" />
</packages>